.card.contact{:data => {:user_profile => user_show_path(@trip.user.id)}}
  %div
    .left-trip-box
      = render partial: 'shared/pic_and_character', locals: {user: @trip.user}
    .right-trip-box
      %div
        %a.name
          = @trip.user.full_name
        %a.fa.fa-facebook-square{href: "https://facebook.com/#{@trip.user.uid}", target: '_blank'}
      .age-city
        = "#{@trip.user.age} years old, from #{@trip.user.city}"
      .fa.fa-map-marker.location
        = @trip.city
      .fa.fa-calendar-o.dates
        = "#{@trip.arriving.to_formatted_s(:rfc822)} - #{@trip.leaving.to_formatted_s(:rfc822)}"
      .fa.fa-suitcase.composition
        = "#{@trip.composition}"
  %div.trip-message
    .right-trip-box
      .message
        = @trip.message
  %div.answer
    .left-trip-box
      .profile-pic
        %img{src: current_user.picture_url}
    .right-trip-box
      = form_tag contact_trip_path(@trip) do
        = hidden_field_tag :trip_id, @trip_id
        = text_area_tag :message, '', :placeholder => "Write a message to #{@trip.user.first_name}"
        = submit_tag "SEND", {:class => [:button, :action, :small, :right]}

%a.close-reveal-modal &#215
