.contain-to-grid.top-zone.small
  .row.content-title-row
    .columns.small-8
      %h2.big-title
        Who's going to
        = @search_results.city
      %h3.small-title.content-subtitle
        Between
        = @search_results.formatted_arriving
        and
        = @search_results.formatted_leaving

    .columns.small-4.buttons
      .row
        .columns.small-5
          %a.button.expand{:href => root_url, :class => [:button, :expand, :big]} New search
        .columns.small-7
          %a.button.expand.big.action{:href => '#', :data => {:reveal_id => 'add-modal'}} Add to my trips

.contain-to-grid.main-zone.results
  - if @search_results.empty?
    %h2 No results, invite more friends!

  - else

    - unless @search_results.trips_from_friends.empty?
      .row.friends-results
        .columns.small-12
          %h2 Friends that are going there
          - @search_results.trips_from_friends.each_slice(3) do |row|
            .row
              - (row + ([nil] * (3 - row.length))).each do |trip|
                .columns.small-4
                  - if !trip.nil?
                    %a{:href => "/trips/#{trip.id}/contact", :data => {:reveal_id => "contact-modal", :reveal_ajax => "true"}}
                      .trip-box
                        = render :partial => 'shared/trip_box', :locals => {:trip => trip}
    - unless @search_results.locals.empty?
      .row.locals-results
        .columns.small-12
          %h2 Other interesting people living there
          - @search_results.locals.each_slice(3) do |row|
            .row
              - (row + ([nil] * (3 - row.length))).each do |user|
                .columns.small-4
                  - if !user.nil?
                    %a{:href => "#{user_show_path(user)}/contact", :data => {:reveal_id => "contact-modal", :reveal_ajax => "true"}}
                      .trip-box
                        = render :partial => 'shared/user_box', :locals => {:user => user}

.reveal-modal#add-modal
  .row
    .columns.small-12
      %h4
        Add a trip 
  = form_tag("/trips", method: "post") do
    .row
      .columns.small-12
        = label_tag "Where are you going exactly ?"
        .span.fa.fa-map-marker.location.inside
        = text_field_tag(:city, @search_results.city, :placeholder => "Which city are you visitig?", data: {city_autocomplete: true, city_autocomplete_lat: 'latitude', city_autocomplete_lng: "longitude"}, required: true)
        = hidden_field_tag(:latitude, @search_results.latitude)
        = hidden_field_tag(:longitude, @search_results.longitude)
    .row
      .columns.small-6
        = label_tag "From"
        .span.fa.fa-calendar.inside
        = text_field_tag(:arriving, @search_results.arriving.strftime("%d/%m/%Y"), :placeholder => 'Arriving', required: true)
      .columns.small-6
        = label_tag "To"
        .span.fa.fa-calendar.inside
        = text_field_tag(:leaving, @search_results.leaving.strftime("%d/%m/%Y"), :placeholder => 'Leaving', required: true)
    .row
      .columns.small-12
        = label_tag "Composition"
        = select_tag(:composition, options_from_collection_for_select(Trip::COMPOSITION_COLLECTION, :last, :first))
    .row
      .columns.small-12
        = label_tag "Personal message"
        = text_area_tag(:message, '', :placeholder => 'Describe your trip')
    .row
      .columns.small-2
        = submit_tag "Add", {:class => [:button, :expand, :action, :big]}
