.contain-to-grid.top-zone.small
  .row.content-title-row
    .columns.small-12.medium-7.large-8
      %h2.big-title
        Who's in
        = @city
      %h3.search-title
        Between
        %strong
          = @arriving.strftime('%d %B %Y')
        and
        %strong
          = @leaving.strftime('%d %B %Y')

    .columns.small-12.medium-5.large-4.buttons
      .row
        .columns.small-12.medium-7.large-7.small-offset-0.medium-offset-4.large-offset-5
          %a.button.expand.big.action{:href => '#', :data => {:reveal_id => 'add-modal'}} Add to my trips

.contain-to-grid.main-zone.results
  - if @locals.empty? and @trips_from_friends.empty? and @trips_from_friends_of_friends.empty?
    .row
      .columns.small-12.centered
        %h2.noresults No results, invite more friends!
        %ul.cf.social_links
          %li#facebook
            %a{:href => "https://www.facebook.com/sharer/sharer.php?u=http://www.travel-meet.com", :target => "blank"}
              %i.fa.fa-facebook-square
          %li#twitter
            %a{:href => "https://www.twitter.com/home?status=Discover%20where%20your%20friends%20are%20planning%20to%20go%20on%20http://www.travel-meet.com"}
              %i.fa.fa-twitter-square

  - else
    .row.legenda
      .columns.small-12
        %span 
          %i.blue
          Friends
        %span
          %i.green 
          Friends of friend
        %span
          %i.yellow 
          Locals
      
    - unless @trips_from_friends.empty?
      
      .row.friends-results
        .columns.small-12
          %h2.white-title Friends that are going there
      .row
        - @trips_from_friends.each do |trip|
          .columns.small-12.medium-6.large-4
            .card{:data => {:href => "/trips/#{trip.id}/contact", :ajax_modal => 'contact-modal', :user_profile => user_show_path(trip.user.id)}}
              = render :partial => 'shared/trip_box', :locals => {:trip => trip}
    - unless @trips_from_friends_of_friends.empty?
      .row.friendsOf-results
        .columns.small-12
          %h2.white-title Friends of friends that are going there
      .row
        - @trips_from_friends_of_friends.each do |trip|
          .columns.small-12.medium-6.large-4
            .card{:data => {:href => "/trips/#{trip.id}/contact", :ajax_modal => 'contact-modal', :user_profile => user_show_path(trip.user.id)}}
              = render :partial => 'shared/trip_box', :locals => {:trip => trip}
    - unless @locals.empty?
      .row.locals-results
        .columns.small-12
          %h2.white-title Interesting people living there
      .row
        - @locals.each do |user|
          .columns.small-12.medium-6.large-4
            .card.user{:data => {:href => "#{user_show_path(user)}/contact", :ajax_modal => 'contact-modal', :user_profile => user_show_path(user.id)}}
              = render :partial => 'shared/user_box', :locals => {:user => user}

.reveal-modal#add-modal{data: {reveal: true}}
  .row
    .columns.small-12
      %h4
        Add a trip
  = form_tag("/trips", method: "post") do
    .row
      .columns.small-12
        = label_tag "Where are you going exactly ?"
        .span.fa.fa-map-marker.location.inside
        = text_field_tag(:city, @city, :placeholder => "Which city are you visitig?", data: {city_autocomplete: true, city_autocomplete_lat: 'latitude', city_autocomplete_lng: "longitude"}, required: true)
        = hidden_field_tag(:latitude, @latitude)
        = hidden_field_tag(:longitude, @longitude)
    .row
      .columns.small-6
        = label_tag "From"
        .span.fa.fa-calendar.inside
        = text_field_tag(:arriving, @arriving.strftime("%d/%m/%Y"), :placeholder => 'Arriving', required: true)
      .columns.small-6
        = label_tag "To"
        .span.fa.fa-calendar.inside
        = text_field_tag(:leaving, @leaving.strftime("%d/%m/%Y"), :placeholder => 'Leaving', required: true)
    .row
      .columns.small-12
        = label_tag "Composition"
        = select_tag(:composition, options_for_select(Trip::COMPOSITION_COLLECTION))
    .row
      .columns.small-12
        = label_tag "Personal message"
        = text_area_tag(:message, '', :placeholder => 'Describe your trip')
    .row
      .columns.small-2
        = submit_tag "Add", {:class => [:button, :expand, :action, :big]}
      .columns.small-10
        %label{'for' => 'share'}
          = check_box_tag "share", "1", true
          Share on Facebook

  %a.close-reveal-modal &#215
