.contain-to-grid.top-zone.medium
  .row.content-title-row

    .columns.small-2
      .profile-pic
        %img{src: @user_profile.picture_url(width: 160, height: 160)}

    .columns.small-6
      %h1= @user_profile.full_name
      .additional-info
        %span.agesex= @user_profile.age_sex
        %span.location.fa.fa-map-marker= @user_profile.city
        %span.nationality.fa.fa-globe= @user_profile.nationality
      .description
        = @user_profile.description

    .columns.small-3

      %div
        - if @user_profile.own?
          %a.button.expand.primary{:href => edit_profile_path}
            EDIT MY PROFILE
        - else
          %a.button.expand.primary{:href => "#{user_show_path(@user_profile.user)}/contact", :data => {:reveal_id => "contact-modal", :reveal_ajax => "true"}}
            CONTACT

      .character.row
        .mood.columns.small-4
          %span{:class => [ class_from_mood(@user_profile.mood), :picto, :medium ]}
            = @user_profile.mood
        .time.columns.small-4
          %span{:class => [ class_from_time(@user_profile.time), :picto, :medium ]}
            = @user_profile.time
        .relationship.columns.small-4
          %span{:class => [ class_from_relationship(@user_profile.relationship_status), :picto, :medium ]}
            = @user_profile.relationship_status

.contain-to-grid.main-zone
  .row
    .columns.small-12
      %h2.white-title My next trips
  .row
    .columns.small-12
      - @user_profile.trips.each_slice(3) do |row|
        .row
          - (row + ([nil] * (3 - row.length))).each do |trip|
            .columns.small-4
              - if !trip.nil?
                %a{:href => "/trips/#{trip.id}/contact", :data => {:reveal_id => "contact-modal", :reveal_ajax => "true"}}
                  .profile-trip-box
                    = render :partial => 'shared/profile_trip_box', :locals => {:trip => trip}
