.contain-to-grid.top-zone.medium
  .row.content-title-row

    .columns.small-4.medium-2.large-2
      .profile-pic
        %img{src: @user.picture_url(width: 160, height: 160)}

    .columns.small-8.medium-6.large-6
      %h1.name
        = @user.full_name
        %a.fa.fa-facebook-square.small{href: "https://facebook.com/#{@user.uid}", target: '_blank'}
      .additional-info
        %span.agesex= "#{@user.sex}, #{@user.age} years old"
        %span.location.fa.fa-map-marker= @user.city
        %span.nationality.fa.fa-globe= @user.nationality
      .description
        = @user.description

    .columns.small-12.medium-3.large-3.large-offset-1

      %div
        - if current_user.id == @user.id
          %a.button.expand.primary{:href => edit_profile_path}
            EDIT MY PROFILE
        - else
          %a.button.expand.primary{:href => "#{user_show_path(@user)}/contact", :data => {:reveal_id => "contact-modal", :reveal_ajax => "true"}}
            CONTACT

      .character.row
        .mood.columns.small-4
          %span{:class => [ class_from_mood(@user.mood), :picto, :medium ]}
            = @user.mood
        .time.columns.small-4
          %span{:class => [ class_from_time(@user.time), :picto, :medium ]}
            = @user.time
        .relationship.columns.small-4
          %span{:class => [ class_from_relationship(@user.relationship_status), :picto, :medium ]}
            = @user.relationship_status

.contain-to-grid.main-zone
  .row
    .columns.small-12
      %h2.white-title My next trips
  .row
    - @user.trips.current.each do |trip|
      - if current_user.id != @user.id
        .columns.small-12.medium-6.large-4
          %a{:href => "/trips/#{trip.id}/contact", :data => {:reveal_id => "contact-modal", :reveal_ajax => "true"}}
            .profile-trip-box
              = render :partial => 'shared/profile_trip_box', :locals => {:trip => trip}
      - else
        .columns.small-12.medium-6.large-4
          %a{:href => "/trips/#{trip.id}/edit", :data => {:reveal_id => "edit-modal", :reveal_ajax => "true"}}
            .profile-trip-box
              = render :partial => 'shared/profile_trip_box', :locals => {:trip => trip}
