.trip-image
  = image_tag trip.map_image_url(313, 100), :width => 313, :height => 100

.trip-infos
  .location
    = trip.city
  .fa.fa-calendar-o.dates
    = "#{trip.arriving.to_formatted_s(:rfc822)} - #{trip.leaving.to_formatted_s(:rfc822)}"
  .fa.fa-suitcase.composition
    = "#{trip.composition}"
  %div.trip-message
    = trip.message
