%div
  .left-trip-box
    = render partial: 'shared/pic_and_character', locals: {user: trip.user}
  .right-trip-box
    %a.name
      = trip.user.full_name
    .age-city
      = "#{trip.user.age} years old, from #{trip.user.city}"
    .fa.fa-map-marker.location
      = trip.city
    .fa.fa-calendar-o.dates
      = "#{trip.arriving.to_formatted_s(:rfc822)} - #{trip.leaving.to_formatted_s(:rfc822)}"
    .fa.fa-suitcase.composition
      = "#{trip.composition}"
%div.trip-message
  .right-trip-box
    .message
      = trip.message
