%div
  .left-trip-box
    .profile-pic
      %img{src: trip.user.picture_url}
    .character
      .mood
        %span{:class => [class_from_mood(trip.user.mood), :picto]}
          = trip.user.mood
      .time
        %span{:class => [class_from_time(trip.user.time), :picto]}
          = trip.user.time
      .relationship
        %span{:class => [class_from_relationship(trip.user.relationship_status), :picto]}
          = trip.user.relationship_status
  .right-trip-box
    .name
      = trip.user.full_name
    .age-city
      = "#{trip.user.age} years old, from #{trip.user.city}"
    .fa.fa-map-marker.location
      = trip.city
    .fa.fa-calendar-o.dates
      = "#{trip.arriving.to_formatted_s(:rfc822)} - #{trip.leaving.to_formatted_s(:rfc822)}"
%div.trip-message
  .right-trip-box
    .message
      = trip.message
