.contain-to-grid.top-zone
  .row
    .columns.small-12
      %h2.bigger-title Share your next trip with your friends !
      %h3.small-title and find out who else is going to be there at the same time
  .row
    = form_tag("/search", method: "get", data: {abide: true}) do
      .columns.small-12.medium-4.large-4
        .span.fa.fa-map-marker.location.inside
        = text_field_tag(:city, "", :placeholder => "Where are you going exactly?", data: {city_autocomplete: true, city_autocomplete_lat: 'latitude', city_autocomplete_lng: "longitude"}, required: true)
        %small.error City is required
        = hidden_field_tag(:latitude)
        = hidden_field_tag(:longitude)
      .columns.small-12.medium-3.large-3
        .span.fa.fa-calendar.inside
        = text_field_tag(:arriving, '', :placeholder => 'Arriving', required: true, pattern: "[0-9][0-9]\\/[0-9][0-9]\\/[0-9][0-9][0-9][0-9]")
        %small.error Arriving date is required
      .columns.small-12.medium-3.large-3
        .span.fa.fa-calendar.inside
        = text_field_tag(:leaving, '', :placeholder => 'Leaving', required: true, pattern: "[0-9][0-9]\\/[0-9][0-9]\\/[0-9][0-9][0-9][0-9]")
        %small.error Leaving date is required
      .columns.small-12.medium-2.large-2
        = submit_tag "Search", {:class => [:button, :expand, :action, :big]}


.contain-to-grid.main-zone.results
  .row
    .columns.small-12
      %h2.white-title Your friends' next destinations
  .row
    - @trips_from_friends.each do |trip|
      .columns.small-12.medium-6.large-4
        .card{:data => {:href => "/trips/#{trip.id}/contact", :ajax_modal => 'contact-modal', :user_profile => user_show_path(trip.user.id)}}
          = render :partial => 'shared/trip_box', :locals => {:trip => trip}
  .row
    .columns.small-12.centered
      %h2.noresults Invite your friends to join Travel-Meet!
      %ul.cf.social_links
        %li#facebook
          %a{:href => "https://www.facebook.com/sharer/sharer.php?u=http://www.travel-meet.com", :target => "blank"}
            %i.fa.fa-facebook-square
        %li#twitter
          %a{:href => "https://www.twitter.com/home?status=Discover%20where%20your%20friends%20are%20planning%20to%20go%20on%20http://www.travel-meet.com"}
            %i.fa.fa-twitter-square
