.contain-to-grid.top-zone
  .row
    .columns.small-12
      %h2.bigger-title Where are you planning to go?
      %h3.small-title Enter a destination and a time span to see who is going to be there
  .row
    = form_tag("/search", method: "get") do
      .columns.small-4
        .span.fa.fa-map-marker.location.inside
        = text_field_tag(:city, "", :placeholder => "Which city are you visitig?", data: {city_autocomplete: true, city_autocomplete_lat: 'latitude', city_autocomplete_lng: "longitude"}, required: true)
        = hidden_field_tag(:latitude)
        = hidden_field_tag(:longitude)
      .columns.small-3
        .span.fa.fa-calendar.inside
        = text_field_tag(:arriving, '', :placeholder => 'Arriving', required: true)
      .columns.small-3
        .span.fa.fa-calendar.inside
        = text_field_tag(:leaving, '', :placeholder => 'Leaving', required: true)
      .columns.small-2
        = submit_tag "Search", {:class => [:button, :expand, :action, :big]}


.contain-to-grid.main-zone.results
  .row
    .columns.small-12
      %h2.white-title Where are your friends going
  .row
    .columns.small-12
      - @home.trips_from_friends.each_slice(3) do |row|
        .row
          - (row + ([nil] * (3 - row.length))).each do |trip|
            .columns.small-4
              - if !trip.nil?
                %a{:href => "/trips/#{trip.id}/contact", :data => {:reveal_id => "contact-modal", :reveal_ajax => "true"}}
                  .card
                    = render :partial => 'shared/trip_box', :locals => {:trip => trip}
