.contain-to-grid.top-zone.small
  .row.content-title-row
    .columns.small-12
      %h2.big-title= @profile.edit_content_title
      %h3.small-title Let people know about your lifestyle so that they can decide to join you in your trips

.contain-to-grid.main-zone
  .row.profile

    .columns.small-3
      = image_tag @profile.picture_url
    .columns.small-7.halfleft

      = simple_form_for @profile.user, url: me_edit_path, method: :put, html: {'data-abide' => true } do |f|

        .row
          .columns.small-6
            = f.input :first_name
          .columns.small-6
            = f.input :last_name
        .row
          .columns.small-6
            = f.input :email, required: true
        .row
          .columns.small-6
            = f.input :birth_date, as: :date, start_year: Date.today.year - 90, end_year: Date.today.year, prompt: { day: 'dd', month: 'mm', year: 'yyyy' }, order: [:day, :month, :year]
          .columns.small-2
            = f.input :sex, collection: User::SEX_COLLECTION
          .columns.small-4
            = f.input :relationship_status, collection: User::RELATIONSHIP_STATUS_COLLECTION
        .row
          .columns.small-6
            = f.input :nationality, collection: nationality_select_collection, required: true
          .columns.small-6
            = f.input :city, required: true, options: {data: {city_autocomplete: true, city_autocomplete_lat: 'user_latitude', city_autocomplete_lng: "user_longitude"}}
            = f.input :latitude, required: true, as: :hidden
            = f.input :longitude, required: true, as: :hidden
        .row
          .columns.small-12
            = f.input :description, :placeholder => 'Add a short description of yourself that will be visible in your profile'

        .row
          .columns.small-12
            = f.label :mood , required: true
            %span.explication Which kind of place do you look for?
        .row.image-as-radio
          .columns.small-6
            = render :partial => 'collection_radio', :locals => {:collection => User::MOOD_COLLECTION, :name => "user[mood]", :value => @profile.user.mood, :selected_class => :selected, required: true }

        .row
          .columns.small-12
            = f.label :time , required: true
            %span.explication Which part of the day do you enjoy the most?
        .row.image-as-radio
          .columns.small-6
            = render :partial => 'collection_radio', :locals => {:collection => User::TIME_COLLECTION, :name => "user[time]", :value => @profile.user.time, :selected_class => :selected, required: true }

        - if @profile.is_signup?
          .row.terms
            .columns.small-12.no-custom
              <div class="input boolean optional user_accepts"><input name="user[accepts]" type="hidden" value="0"><label class="boolean optional control-label checkbox simple-text" for="user_accepts"><input checked="checked" class="boolean optional" id="user_accepts" name="user[accepts]" required="required" type="checkbox" value="1">By clicking Submit, you agree to our <a href="/terms">Terms</a> and that you have read our <a href="/privacy">Privacy Policy</a>.</label></div>
              / = f.input :accepts, input_html: { :class => 'no-custom', :required => true }, :label => "By clicking Submit, you agree to our Terms and that you have read our Privacy Policy."
              %label.simple-text{'for' => 'share'}
                = check_box_tag "share", "1", true
                Share on Facebook

        .row
          .columns.small-offset-9.small-2
            = f.button :submit, {:class => [:button,:action, :big]}


    .columns.small-2.guide-text
      Fill out your profile, with your real informations.
      %br
      If you don't enter a valid e-mail adress your friends won't be able to get in touch with you.
