.contain-to-grid.top-zone.small
  .row.content-title-row
    .columns.small-12
      %h2.big-title= @profile.edit_content_title
      %h3.small-title Let people know about your lifestyle so that they can decide to join you in your trips

.contain-to-grid.main-zone
  .row.profile

    .columns.small-3
      = image_tag @profile.picture_url
    .columns.small-7.halfleft

      = simple_form_for @profile.user, url: me_edit_path, method: :put, html: {'data-abide' => true } do |f|

        .row
          .columns.small-6
            = f.input :first_name
          .columns.small-6
            = f.input :last_name
        .row
          .columns.small-6
            = f.input :email, required: true
        .row
          .columns.small-6
            = f.input :birth_date, as: :date, start_year: Date.today.year - 90, end_year: Date.today.year, prompt: { day: 'dd', month: 'mm', year: 'yyyy' }
          .columns.small-3
            = f.input :sex, collection: User::SEX_COLLECTION
          .columns.small-3
            = f.input :relationship_status, collection: User::RELATIONSHIP_STATUS_COLLECTION
        .row
          .columns.small-6
            = f.input :nationality, collection: nationality_select_collection, required: true
          .columns.small-6
            = f.input :city, required: true, options: {data: {city_autocomplete: true, city_autocomplete_lat: 'user_latitude', city_autocomplete_lng: "user_longitude"}}
            = f.input :latitude, required: true, as: :hidden
            = f.input :longitude, required: true, as: :hidden
        .row
          .columns.small-5
            = f.label :mood
            .row.image-as-radio
              = render :partial => 'collection_radio', :locals => {:collection => User::MOOD_COLLECTION, :name => "user[mood]", :value => @profile.user.mood, :selected_class => :selected }

        .row
          .columns.small-5
            = f.label :time
            .row.image-as-radio
              = render :partial => 'collection_radio', :locals => {:collection => User::TIME_COLLECTION, :name => "user[time]", :value => @profile.user.time, :selected_class => :selected }
        .row
          .columns.small-12
            = f.input :description, :placeholder => 'Write a few words about yourself'

        .row
          .columns.small-offset-9.small-2.halfleft
            = f.button :submit, {:class => [:button,:action, :big]}


    .columns.small-2.guide-text
      Nullam quis risus eget urna mollis ornare vel eu leo. Nulla vitae elit libero, a pharetra augue. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentum. Nulla vitae elit libero, a pharetra augue. Maecenas sed diam eget risus varius blandit sit amet non magna.

= javascript_include_tag "http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"
